header{
    height: 60px;
}

main{
    height: calc(100vh - 60px);
    width: 100%;
}

div.my-sidebar{
    max-width: 15%;
}

.my-logo{
    width:2.5rem;
}

.my-lg-logo{
    display: none;
}

/*MEDIA QUERY*/

@media screen and (min-width:992px) {
    .my-logo{
        display: none;
    }

    .my-lg-logo{
        display: unset;
    }
}