header{
    height: 70px;
    background-color:#f8f9fa ;
}

header>nav{
background-color: white;
width: 100%;
height: 73%;
}

main{
    height: calc(100vh - 70px);
    width: 100%;
}

div.my-sidebar{
    max-width: 15%;
}

.my-logo{
    width:2.5rem;
}

.my-lg-logo{
    display: none;
}

/*COLORS*/

.my-bg-gray{
    background-color: #e5e5e5;
}

/*MEDIA QUERY*/

@media screen and (min-width:992px) {
    .my-logo{
        display: none;
    }

    .my-lg-logo{
        display: unset;
    }
}